*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    padding: 20px;
    background-color: #f8f8f8;
    color: #475569;
}
section .product-container img{
    max-width: 100%;
    height: 600px;
}
.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 30px;
    background-color: #ffffff;
}
.section-box{
    line-height: 1.6;
}
.product-card-right{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 30px;
    margin: 10px;
}
.title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0766eb;
    padding: 5px;

}
section h2{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1a56aa;
    padding: 5px;
}
.product-card-right h3{
    margin: 10px 0px;
    font-size: 20px;
    color: #18478a;

}
.price{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #ffffff;
    margin: 10px;
    padding: 30px 55px;
}
.price p{
    margin: 10px 0px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #1a365d;
    padding: 15px;
    border-radius: 5px;
}
.price button{
    position: relative;
    bottom: 17px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 30px 0px 0px 0px;
    width: fit-content;
    height: 60px;
    font-size: 20px;
    color: #18478a;
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #18478a;
    transition: background-color 0.3s, color 0.3s, transform 0.4s;
}
.price button:hover{
    background-color: #18478a;
    color: #FFFFFF;
    transform: scale(1.15);
    transform: translateY(-6px);
}
.card-livreson{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 30px;
    margin: 10px;
}
@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
    }
    section .product-container img{
        width: 100%;
        height: auto;
    }
    .product-container {
        padding: 20px;
    }
    .product-card-right {
        padding: 20px;
    }
    .price {
        flex-direction: column;
        align-items: center;
    }
    .price p {
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
        width: 85%;
    }
    .price button {
        width: 85%;
        margin-top: 15px;
        font-size: 18px;
    }
    .card-livreson {
        padding: 20px;
    }
    .section-box {
        padding: 10px;
    }
    .title, section h2 {
        font-size: 20px;
    }
    .product-card-right h3 {
        font-size: 18px;
    }
    .product-container img {
        height: 400px;
    }
    .section-title{
        font-size: 22px !important;
        text-align: center !important;
    }
}