{% extends 'main.html' %}
{%block content%}
    <div class="dashboard-container">
        <ul>
            <a href="#">Manage products</a>
            <a href="#">Manage users</a>
            <a href="/logout">Logout</a>
        </ul>
        <div class="message">
            <h1>Admin Dashboard</h1>
            <p>Welcome to the admin dashboard! You can manage your products and users here.</p>
        </div>
        <a href="#"> <button><span>+</span></button></a>
        
    </div>
{%endblock%}